<!-- extands the bas.html, overwrites bolcks with corresponding labels in base.html -->
{% extends "base.html" %}
{% block title%}
    Home
{% endblock %}

{% block content %}
    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        <!-- This allows us to loop through all notes in user.notes and display them -->
        {% for note in user.notes %}
            <li class="list-group-item">
                {{ note.data }}
                <!-- Deleteing the note is what we needed the javascript for-->
                <!-- the note.id is how we identify the note we need to delete -->
                <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>
    <!-- Form to allow user to make notes -->
    <!-- Using the name= part will allow us to make multiple fields here to plug variables into a plot -->
    <form method='POST'>
        <textarea name="note" id="note" class="form-control" placeholder="Enter note here."></textarea>
        <br/>
        <div align="center" >
            <button type="submit" class="btn btn-primary">Add note</button>
        </div>
    </form>
    <h2>Plot built by python.</h2>
    <center><img src="{{url_for('static', filename='pyPlot.png')}}" height = "500" width = "700"/></center>
    <center><iframe src="{{url_for('views.pyPlot')}}" height = "500" width = "700"></iframe></center>
    
{% endblock %}