{% extends "base.html" %}
{% block title%}Login{% endblock %}

<!-- this is the content block that will override corresponding "content" block in base.html -->
{% block content %}
<!-- build hmtl form for getting user login data -->
<!-- set moethod to post to sned info to backend -->
<form method="POST">
    <!-- title our form -->
    <h3 align="center">Login</h3>
    <!-- create email input field -->
    <div class="form-group">
        <label for="email">Email Address</label>
        <!-- the 'name' veriable is critical as it allows us to use the entered info on the backend -->
        <input type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"/>
    </div>
    <!-- create password field -->
    <div class="form-group">
        <label for="password">Password</label>
        <!-- the 'name' veriable is critical as it allows us to use the entered info on the backend -->
        <input type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter password"/>
    </div>
    <br/>
    <!-- create pretty submit button -->
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}